<h1> Liste des Articles </h1>
<%= link_to  "Crée un nouvelle article", new_article_path, class: "btn btn-primary"%>

<ul>
  <% @articles.each do |article|%>
    <li>
      <%= link_to  "article.title", article_path(article) %>
      <%= link_to  "Modifier", edit_article_path(article), class:"btn btn-warning" %>
      <%= link_to  "Supprimer", article, method: :delete, data: { confirm: "Es tu sur?"}, class:"btn btn-danger" %>
    </li>
  <% end %>
</ul>
